<section class="mt-5">
    <div class="container mt-5 mb-5 bg-theme">
        <h1 class="text-white text-center">About us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary  ">

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard.</p>

            <div class="text-center">
                <button class="btb btn-info btn-sm mt-4 btn-sub">Back to home</button>
            </div>
        </div>
    </div>
</section>